*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(0deg, navy, midnightblue);
    min-height: 100vh;
    color: white;
    overflow: hidden;
    position: relative;
}
#overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
     background: linear-gradient(0deg, navy, midnightblue);
     opacity: 0.9;
     z-index: 1;
     color: white;
     display: grid;
     visibility: visible;
}
.love{
    display: flex;
    align-items: center;
      color: rgb(2, 2, 52);
    background-color: white;
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    cursor: pointer;
    width: 170px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    height: 30px;
    justify-content: center;
}
#overlay h4{
    display: flex;
    font-size: 2rem;
    justify-content: center;
}
#overlay2{
        position: absolute;
    width: 100%;
    height: 100vh;
     background: linear-gradient(0deg, navy, midnightblue);
     opacity: 0.9;
     z-index: 1;
     color: white;
     display: grid;
     align-items: center;
     justify-content: center;
     font-size: 3rem;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin: -40px -20px;
     visibility: hidden;
}
#overlay2 button{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: rgb(2, 2, 52);
    background-color: white;
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    cursor: pointer;
    margin: 0 auto;
}
#overlay3{
        position: absolute;
    width: 100%;
    height: 100vh;
     background: linear-gradient(0deg, navy, midnightblue);
     opacity: 0.9;
     z-index: 1;
     color: white;
     display: grid;
     align-items: center;
     justify-content: center;
     font-size: 3rem;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin: -40px -20px;
     visibility: hidden;
}
#overlay3 button{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: rgb(2, 2, 52);
    background-color: white;
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    cursor: pointer;
    margin: 0 auto;
}

#overlay4{
        position: absolute;
    width: 100%;
    height: 100vh;
     background: linear-gradient(0deg, navy, midnightblue);
     opacity: 0.9;
     z-index: 1;
     color: white;
     display: grid;
     align-items: center;
     justify-content: center;
     font-size: 3rem;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin: -40px -20px;
     visibility: hidden;
}
#overlay4 button{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: rgb(2, 2, 52);
    background-color: white;
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    cursor: pointer;
    margin: 0 auto;
}
h1{
    display: flex;
    margin-top: 30px;
    font-size: 3rem;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    justify-content: center;
}
#shape1{
    width: 150px;
    height: 150px;
    background-color: rgb(156, 8, 8);
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}
#shape2{
    width: 150px;
    height: 150px;
    background-color: green;
    backdrop-filter: 80px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}
#shape3{
    width: 150px;
    height: 150px;
    background-color: rgb(4, 4, 155);
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}
#shape4{
    width: 150px;
    height: 150px;
    background-color: rgb(121, 121, 3);
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}
.group{
    display: flex;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
}
.group1{
    display: grid;
    grid-row-gap: 40px;
    margin: 0 40px;
} 
.group2{
    display: grid;
    grid-row-gap: 40px;
}
.flash{
    width: 150px;
    height: 150px;
    filter: brightness(5);
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 10px;
    bottom: 0;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 30px;
    background-color: transparent;
    margin: 50px 0;
    position: absolute;
}
h3{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: -30px 20px;
    font-size: 2rem;
}
@media (max-width: 400px){
    body{
        margin: 40px 0;
    }
    #shape1, #shape2, #shape3, #shape4{
        width: 100px;
        height: 100px;
        margin: 0 auto;
        padding: 0;
        margin: 0;
    }
    .group1, .group2{
        margin: 0 10%;
    }
    .group{
        margin: 80px 0;
    }
    h1{
        font-size: 2rem;
    }
}